$default-colour: black;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

.main-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
}

.main-wrapper > section {
    flex: 1 1 auto;
}

.container:first-child {
    background-color: lighten(red, 40);
}

.container {
    margin: 1em auto;
    padding: 1em;
    border: dashed 2px $default_colour;
    background-color: lighten(blue, 40);
}
